* {
    box-sizing: border-box;
}

:root {
    --nav-footer-color: rgb(15, 14, 12);
    --main-bg-color: rgb(26, 24, 23);
    --main-header-link-color: rgb(49, 143, 250);
    --sub-header-color:  rgb(65, 90, 235);
    --body-font-color: rgb(190, 204, 218);
}

body {
    background-color: var(--main-bg-color);
    color: var(--body-font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

a {
    text-decoration: none;
    color: var(--main-header-link-color);
}

a:active {
    color: rgb(122, 172, 230);
}

a:hover {
    color: rgb(0, 100, 214);
}

/* a:visited {
    color: rgb(3, 47, 194);
} */

h1, h2, h3, p {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--main-header-link-color);
    font-size: 38px;
}

h3 {
    color: var(--sub-header-color);
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0;
}

.logo {
    font-size: 60%;
    margin-top: 14px;
    margin-left: 30px;
    position: absolute;
    text-align: left;
}

nav, footer {
    background-color: var(--nav-footer-color);
    height: 65px;
    width: 100%;
}

nav.top {
    font-size: 100%;
    position: fixed;
    text-align: right;
}

nav.top li {
    display: inline-block;
    margin-top: 16px;
}

nav.top li::after {
    content: "";
    margin-left: 30px;
}

/* .menu-icon {
    display: none;
}

.menu-horizontal {
    display: none;
} */

.name-contact {
    display: inline-block;
    padding: 140px 60px 60px;
    max-width: 500px;
}

.name-main {
    padding-bottom: 10px;
}

.web-dev {
    padding-bottom: 6px;
}

.languages,
.frameworks {
    padding-left: 10px;
    padding-right: 10px;
}

.lang-icons i,
.framework-icons i {
    padding: 8px 2px 20px;
}

.contact-icons i {
    padding: 2px 6px;
}

.bio-section {
    display: inline-block;
    max-width: 680px;
    padding: 0px 40px 20px;
    text-align: left;
}

.snippet {
    padding-bottom: 6px;
    text-align: center;
}

.lang-frameworks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
}

.lang-icons,
.framework-icons {
    color: var(--sub-header-color);
}

.frameworks {
    display: none;
}

.projects-title {
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.project-sections {
    border: solid 3px var(--main-header-link-color);
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 50px 40px 10px;
    max-width: 80%;
}

/* .project-2,
.project-3 {
    display: none;
} */

.project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 40px;
}

.project-description {
    max-width: 60%;
    padding: 0 20px 20px;
}

.quiz-header,
.project2-header,
.project3-header {
    padding-bottom: 12px;
}

.quiz-image,
.project2-img,
.project3-img {
    padding: 10px;
}

.project-detail {
    text-align: left;
}

footer {
    font-size: 14px;
    padding-top: 20px;
}