* {
    box-sizing: border-box;
}

:root {
    --nav-footer-color: rgb(15, 14, 12);
    --main-bg-color: rgb(26, 24, 23);
    --main-header-link-color: rgb(61, 152, 255);
    --link-color: rgb(87, 174, 255);
    --sub-header-color:  rgb(62, 123, 255);
    --body-font-color: rgb(204, 218, 233);
    --link-hover-focus-color: rgb(255, 156, 42);
}

body {
    background-color: var(--main-bg-color);
    color: var(--body-font-color);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

a {
    text-decoration: none;
    color: var(--main-header-link-color);
}

a:active {
    color: rgb(122, 172, 230);
}

a:hover {
    color: var(--link-hover-focus-color);
}

a:focus {
    color: var(--link-hover-focus-color);
    border-bottom: 2px solid;
}

nav li a {
    color: var(--link-color);
}

h1, h2, h3, p {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: var(--main-header-link-color);
    font-size: 38px;
}

h3 {
    color: var(--sub-header-color);
    font-size: 24px;
}

ul {
    list-style: none;
    margin: 0;
}

nav, footer {
    background-color: var(--nav-footer-color);
    height: 65px;
    width: 100%;
}

nav.top {
    font-size: 100%;
    position: fixed;
    text-align: right;
}

nav.top li {
    display: inline-block;
    margin-top: 16px;
}

nav.top li::after {
    content: "";
    padding-right: 20px;
}

.logo {
    font-size: 60%;
    margin-top: 14px;
    margin-left: 20px;
    position: absolute;
    text-align: left;
}

.name-bio-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 80px;
}

.profile-photo {
    border-radius: 50%;
    width: 45%;
}

.name-contact {
    padding: 40px 60px 0px 60px;
    max-width: 500px;
}

.name-main {
    padding-bottom: 8px;
}

.web-dev {
    padding-bottom: 6px;
}

.about-me-header {
    font-size: 1.6em;
    padding: 30px 0px 20px 0px;
}

.snippet {
    text-align: center;
}

.bio-section {
    max-width: 680px;
    margin-top: 20px;
    padding: 20px 60px 20px 60px;
    text-align: left;
}

.lang-frameworks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
}

.languages,
.frameworks {
    padding-left: 10px;
    padding-right: 10px;
}

.lang-icons,
.framework-icons {
    color: var(--sub-header-color);
}

.lang-icons i,
.framework-icons i {
    padding: 8px 2px 20px;
}

.projects-title {
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.project-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    border: solid 4px var(--main-header-link-color);
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 50px 40px 40px 40px;
    max-width: 80%;
}

.project-name-header {
    padding: 10px 0px 10px 0px;
}

.project-description {
    max-width: 60%;
    padding: 0px 20px 20px;
}

.quiz-header,
.project2-header,
.project3-header {
    padding-bottom: 12px;
}

.quiz-image,
.project2-img,
.project3-img {
    padding: 10px;
}

.project-detail {
    text-align: left;
}

.contact-me-section {
    padding-bottom: 25px;
}

.contact-icons i {
    padding: 2px 10px;
}

footer {
    font-size: 14px;
    padding-top: 20px;
}

/* min and max width used to better control responsive design*/
@media screen and (min-width: 320px) and (max-width: 400px) {
    body {
        font-size: 100%;
    }

    .logo {
        font-size: 55%;
        line-height: 1.2;
        margin-left: 14px;
        margin-top: 20px;
        width: 22%;
    }

    nav.top li {
        font-size: 100%;
        margin-top: 20px;
    }

    h2 {
        font-size: 150%;
    }

    .name-contact {
        padding: 120px 20px 50px;
    }

    .contact-icons i {
        font-size: 260%;
        padding: 0px 14px;
    }

    h3 {
        font-size: 114%;
    }

    .bio-section {
        padding: 0px 14px 20px;
    }

    .projects-title {
        padding-bottom: 16px;
    }

    .quiz-image,
    .project2-img,
    .project3-img {
        width: 100%;
    }

    .project-description {
        max-width: 100%;
        padding: 0px;
    }

    .project-description i {
        font-size: 200%;
    }
  }

  @media screen and (min-width: 401px) and (max-width: 600px) {
    body {
        font-size: 110%;
    }
    
    h2 {
        font-size: 180%;
    }

    h3 {
        font-size: 110%;
    }

    .contact-icons i {
        font-size: 250%;
        padding: 0px 12px;
    }

    .project-sections {
        margin-bottom: 50px;
        padding: 30px 30px 10px;
    }

    .quiz-image,
    .project2-img,
    .project3-img {
        width: 100%;
    }

    .project-description {
        max-width: 100%;
        padding: 0px;
    }

    .project-description i {
        font-size: 160%;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 768px) {
    .project-description {
        max-width: 95%;
    }

    .project-description i {
        font-size: 160%;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
      .project-description {
          max-width: 80%;
      }

      .project-description i {
          font-size: 140%;
      }
  }

  @media screen and (min-width: 1025px) and (max-width: 1185px) {
      .project-description {
          max-width: 70%;
      }
  }

